body{
  height: 3000px;
}
.container-1{
  position: relative;
  display: inline-block;
}
img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.discount{
  position: absolute;
  top: 10;
  right: 0;
  color: white;
  background-color: black;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.container-2{
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  border-width: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
